<div class="intro" style="height:100vh; opcacity:-4;">
  <div class="jumbotron">
    <h1 class="page-header text-center" style="; background-color:pink;text-align:center; height:50px; margin-bottom:-10px;">Github-search</h1>
    <hr>
     <h2 style="color:#ffff; background-color: rgba(0,0,0,.7); text-align:center;">use this app to search for any github user as long as he or she is a registered user</h2>
     <a href="/git-profile" class="btn" style="text-decoration:none; background-color:#CCA2F0; width: 100px; height: 50px; padding:10px; margin-left:20px; color: white; box-shadow: 0 1px 0 rgba(0,0,0,.3); ">clicksearch!</a>
  </div>

</div>
